<?php
$dsn = 'mysql:dbname=DB_NAME;host=DB_IP;port=DB_PORT';
$user = DB_USER;
$password = DB_PASSWORD;

try {
    $dbh = new PDO($dsn, $user, $password);
} catch (PDOException $e) {
    echo 'Connection failed: ' . $e->getMessage();
}
